<section class="container">
  <h2>Products Component</h2>
  <h3>promiseResponse</h3>
  <button class="test-button-promise" (click)="callPromise()">call Promise</button>
  <p class="test-p-promise">{{promiseResponse}}</p>
  <div class="my-grid">
    <app-product *ngFor="let product of products" [product]="product">

    </app-product>
  </div>
  <button (click)="getAllProducts()" [disabled]="status == 'loading'">
    <span *ngIf="status == 'init' || status == 'success'">load More</span>
    <span *ngIf="status == 'loading'">Loading</span>
    <span *ngIf="status == 'error'">Error</span>
  </button>
</section>
